.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 700px;
}

.row {
    display: flex;
    justify-content: center;
    flex: 1;
}

.cell {
    border: 1px solid black;
    flex: 1;
}

.hovered {
    background-color: black;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.outer-container {
    display: flex;
    justify-content: center;
}
